.register__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--white-color);
}

.register__form input{
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    border-bottom: 1px solid var(--secondary-color);
}

.register__form label {
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.register__error,
.register__successfully {
    width: 100%;
    display: block;
}

.register__error {
    color: red;
}

.register__successfully {
    color: green;
}

.singlePost__image {
    width: 90rem;
    height: 30rem;
}

@media screen and (min-width:1024px){

    .register__form {
        width: 50%;
    }

}